<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278266711830-1nl7m8kfmpm21ntc9rhg9mv9mo8cs864.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278266711830-1nl7m8kfmpm21ntc9rhg9mv9mo8cs864</string>
	<key>API_KEY</key>
	<string>AIzaSyC3KlciyalUscNpczHc5VMtmkTH52SPDq4</string>
	<key>GCM_SENDER_ID</key>
	<string>278266711830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bonitoflakes.bookingApp</string>
	<key>PROJECT_ID</key>
	<string>bookingapp-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingapp-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278266711830:ios:ca6e4de39818ef2a934a37</string>
</dict>
</plist>